/******************************************************************
Site Name: Nigel Irens Design
Author: Marco Terrinoni (MULARAM)

Stylesheet: 404 Module Stylesheet

******************************************************************/
@media only screen and (min-width: 320px) {



}

@media only screen and (min-width: 481px) {


}

@media only screen and (min-width: 768px) {

	.bg404{
		background:url('../images/404.jpg')no-repeat;
		float: left;
		position: relative;
	}

}
