/******************************************************************
Site Name: Nigel Irens Design
Author: Marco Terrinoni (MULARAM)

Stylesheet: Blog Post Module Stylesheet

******************************************************************/

.l-single-col img {
	display: block;
	width: 100%;
	height: auto;
	margin-bottom: 2em;
}

.blogCover__excerpt{
	display: none;
}
.blogCover__header{
	padding-bottom:0 !important;
}


.blog__scrollTo{
	font-size:2em;
}
.single p{
	margin-bottom:1em;
}
.wp-post-image{
	width:100%;
	height: auto;
	position: relative;
	display: block;
}
.blog__intro{
	position: relative;
}

@media only screen and (min-width: 768px) {
	.blogCover {
		//position: absolute;
		left: 0;
		right: 0;
		bottom: 0px;
		margin:0 auto;
		width:75%;
	}

	.blog__header{
		height: 100%;
	}

	.blogCover__next{
		position: absolute;
		z-index: 10;
	}
}

@media only screen and (min-width: 1030px) {
	.blogCover {
		width:50%;
	}

}

@media only screen and (min-width: 1240px) {


}

@media only screen and (min-width: 1800px) {

}