/******************************************************************
Site Name: Nigel Irens Design
Author: Marco Terrinoni (MULARAM)


Stylesheet: ByLine Module Stylesheet

******************************************************************/
/* post meta */
.byline {
	margin:0;
	font-weight: 700;
	font-size: 0.65em;
	text-transform: uppercase;
	letter-spacing: 2.2px;

	time {}
}
@media only screen and (min-width: 768px) {


}

@media only screen and (min-width: 1800px) {

}


