/******************************************************************
Site Name: Nigel Irens Design
Author: Marco Terrinoni (MULARAM)

Stylesheet: Footer Module Stylesheet

******************************************************************/

	.footer {
		position: relative;
		bottom:0;

		.inner-page{
			margin-top: 0;
		}
	}
	.inner-footer{
		padding:$padding /2;
	}

	.footer-menu{
		width: 100%;
		padding:$padding;
		float: left;
		text-align: center;

		.footer-menu__header{
			text-transform: uppercase;
			letter-spacing: 1px;
			font-weight: 500;
		}

		.menu-item a{
			font-weight: 100;
			text-transform: lowercase;

			&:hover,&:focus{
				background:none;
				color: white;
				text-decoration: underline;
			}
		}
	}

	/*
	if you checked out the link above:
	http://www.alistapart.com/articles/organizing-mobile/
	you'll want to style the footer nav
	a bit more in-depth. Remember to keep
	it simple because you'll have to
	override these styles for the desktop
	view.
	*/

	.pre-footer {
		float: left;
		width: 100%;
		position: relative;

		.menu {
			font-size:90%;
		}

	} /* end .footer-links */



	.copyright {
		font-weight: 100;
		font-size:0.65em;
		line-height:1.5;
		text-transform:uppercase;
		text-align:center;
		margin:$margin/2 !important;
	}



@media only screen and (min-width: 768px) {

	.footer{
		margin-top:0em;
	}
	.inner-footer{
		padding:$padding /4;
	}


	.footer-menu {
		width:33.3333%;
		float: left;
	}


}
@media only screen and (min-width: 1240px) {

	.footer{
		position: relative;
		bottom: 0;
		z-index: 3;
	}


}