/******************************************************************
Site Name: Nigel Irens Design
Author: Marco Terrinoni (MULARAM)

Stylesheet: Full Screen Bg Module Stylesheet

******************************************************************/

.fullScreenBG{
	min-height: 800px;
}

.bgAbout{
	background:url('../images/about.jpg')no-repeat center center fixed;
	 -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	  float: left;
}

@media only screen and (min-width: 481px) {


}

@media only screen and (min-width: 768px) {

	.fullScreenBG{
		min-height: 1100px;
	}

}
