/******************************************************************
Site Name: Nigel Irens Design
Author: Marco Terrinoni (MULARAM)


Stylesheet: Tags Module Stylesheet

******************************************************************/

.tags{
	margin:0;
	padding-bottom:0.5em;
	line-height:1.5;
	//font-weight: 500;
	//font-size: 65%;
	letter-spacing:1px;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	font-size: 0.66em;
	font-weight: 700;

}

// @media only screen and (min-width: 768px) {


// }

// @media only screen and (min-width: 1800px) {

// }


