/******************************************************************
Site Name: Nigel Irens Design
Author: Marco Terrinoni (MULARAM)

Stylesheet: Large Desktop Stylsheet

This is the large desktop size.

******************************************************************/

/*********************
LAYOUT & GRID STYLES
*********************/


.wrap {
	max-width: 2400px;
	margin:0;
}


